body {
	margin-top: 1.0em;
	background-color: #f6f9e1;
	font-family: Helvetica, Arial, FreeSans, san-serif;
	color: #000000;
}

a:hover {
	color: #5888AA;
	text-decoration: none;
}

.horizontal-demo {
  overflow: hidden;
}

.sliding-horizontal li, .sliding-horizontal-ajax li {
  width: 100px;
  border: 1px solid gray;
  float: left;
  padding: 6px;
  margin: 8px;
  overflow: hidden;
  width: 150px;
}

.ui-sliding-navigation, .actions-bar {
  margin: 20px 0;
}

.ui-sliding-navigation a {
	display: inline-block;
	margin: 0 10px;
	text-decoration: none;
}

.slide-live-example {
  overflow: hidden;  
}

.slide-live-example li {
  width: 140px;
  float: left;
  margin: 0 5px;
  padding: 3px;
  height: 100px;
}

.ui-state-disabled {
	color: gray !important;
}

h1 {
	font-size: 3.8em;
	color: #09061e;
	margin-bottom: 3px;
	overflow: hidden;
}
h1 .small {
	font-size: 0.4em;
}
h1 a {
	text-decoration: none
}

h1 a.logo {
	display: block;
	width: 279px;
	height: 200px;
	background: transparent url('images/logo.png') no-repeat 0 0;
}

h1 a.logo span {
	display: none;
}


h2 {
	font-size: 1.5em;
	color: #09061e;
}
h3 {
	text-align: center;
	color: #09061e;
}
a {
	color: #09061e;
}
.description {
	font-size: 1.2em;
	margin-bottom: 30px;
	margin-top: 70px;
	font-style: italic;
}
.download {
	float: right;
}
pre {
	padding: 5px;
}
hr {
	border: 0;
	width: 80%;
	border-bottom: 1px solid #aaa
}
.footer {
	text-align: center;
	padding-top: 30px;
	font-style: italic;
}
