body {
  font-size: 12px;
}

img {
	width: 150px;
  	height: 150px;
}

.horizontal-demo {
  overflow: hidden;
}

.sliding-horizontal li, .sliding-horizontal-ajax li {
  width: 100px;
  border: 1px solid gray;
  float: left;
  padding: 6px;
  margin: 8px;
  overflow: hidden;
  width: 150px;
}

.sliding-pager-active a {
  color: gray;
  text-decoration: none;
}

.demo {
  padding: 20px;
  border: 1px solid gray;
  margin: 10px;
  width: 600px;
}

.demo h2 {
  font-size: 16px;
}

#change-theme {
  padding: 10px;
  background-color: #D1D7F7;
  border: 1px solid #8E94AF;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
  text-align: center;
}
